
  body {
    background-color: #F2EBE9;
  }

  h1 {
    color:#7C3E66;

  }
  h3 {
    color:#243A73;
  }

  hr {

    border-style: dotted none none;
    border-color: #A5BECC;
    border-width: 5px;
    width: 5%;
  }
